
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  margin : 0;
  background-color: whitesmoke;
  font-family: 'Audiowide', cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
